body{
    max-width: 390px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 20px;
}

header{

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: #fff;
}
header .header-first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5%;
    padding-top: 8%;;
}

header h3 {
    margin:0;
}

.btn-bars{
  padding-top: 1%;
  padding-right: 2%;
  border-right: 1px solid #888;
}
.contact-link{

border-left: 1px solid #888;
padding-top: 1%;
padding-left: 2%;
}
header a {
    color: #fff;
}
header ul {
    display: none;
}
.active{
    display: block;
}
main h2, main p {
    padding-left: 10px;
}
.image-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    padding-left: 30px;
    text-align: center;
}
.image-container img{ 
    width: 100px;
    height: 100px;
    margin-block: 10px;
    border-radius: 50%;
}
footer{
    text-align: center;
}